
.idea/misc.xml
.idea/modules.xml
.idea/quinto-andar-analise.iml
.idea/vcs.xml
geckodriver.log
geckodriver/geckodriver.exe
.idea/inspectionProfiles/profiles_settings.xml
.idea/csv-plugin.xml
.idea/.name
